.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 25px;
  background-image: url("../images/footer.jpg");
  background-position: center;
  background-size: cover;
  height: 210px;

  @include onDesktop {
    height: 340px;
    padding-bottom: 35px;
  }
}
